﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hutech</title>
    <link rel="shortcut icon" href="http://sinhvien.hutech.edu.vn/assets/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Content/css/local.css" />

    <link href="~/Content/css/sv5t.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/logout.css" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</head>

<body >
    <div id="freezeLayer" class="freeze-layer" style="display:none;"></div>
    <div id="dialogCont" class="dlg-container">
        <div class="dlg-header"><i class="fa fa-sign-out txt-color-orangeDark"></i>Đăng xuất?</div>
        <div id="dlgBody" class="dlg-body"></div>

        <div class="dlg-footer">
            <button onclick="CustomConfirm.okay();" class="btn btn-outline-success">Đăng xuất</button>
            <button onclick="CustomConfirm.close();" class="btn btn-outline-info">Quay lại</button>
        </div>
    </div>


    <div id="wrapper">

        <!--template mới-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
            <a class="navbar-brand" href="@Url.Action("Index","SinhVien5Tot")">
                <img alt="logo" onmousedown="click.play()" src="~/Content/images/logo.png"  style="width:15rem;height:auto" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" onmousedown="click.play()" href="@Url.Action("Index","SinhVien5Tot")">Trang chủ <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sinh Viên Năm Tốt
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" id="dangky_SV5T" href="@Url.Action("SV5T","SinhVien5Tot")"><i class="fas fa-user-graduate"></i>Sinh Viên 5 tốt</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("SV5T","SinhVien5Tot")"><i class="fas fa-user-graduate"></i> Theo dõi Tiến độ </a>

                        </div>
                    </li>
                    <li id="loptruong" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Lớp học tiên tiến
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#" id="dangky_LHTT" onclick="dangky_lhtt()"><i class="fas fa-user-graduate"></i>Đăng ký</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Index","LopHocTienTien")"><i class="fas fa-user-graduate"></i>Theo dõi tiến độ</a>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @ViewBag.Hoten
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Thongtin_sinhvien","SinhVien5Tot")"><i class="fa fa-user"></i> Thông tin sinh viên</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://www.hutech.edu.vn/homepage/dong-gop-y-kien"><i class="fa fa-gear"></i> Trợ giúp</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                    <li>
                        <button style="margin-top:5px;" onclick="CustomConfirm.show('Sau khi đăng xuất hãy đóng trình duyệt đang mở này, sẽ giúp bạn cải thiện mức bảo mật.', logout);" class="btn btn-outline-primary"><i class="fas fa-sign-out-alt"></i></button>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control ml-auto mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

                </form>
            </div>
        </nav>
        <!--Hết teamplate mới-->
        <!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="display:inline-block">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <span>
                    <img alt="logo" src="https://sinhvien.hutech.edu.vn/assets/img/logo.png" />
                </span>
            </div>

        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right navbar-user" style="display:inline">
                <li class="dropdown messages-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Thông Báo <span class="badge">2</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">2 Thông Báo</li>
                        <li class="message-preview">
                            <a href="#">
                                <span class="avatar"><i class="fa fa-bell"></i></span>
                                <span class="message">Thông báo!!!!</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>@ViewBag.HoTen<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Thongtin_sinhvien","SinhVien5Tot")"><i class="fa fa-user"></i> Thông tin sinh viên</a></li>
                        <li><a href="https://www.hutech.edu.vn/homepage/dong-gop-y-kien"><i class="fa fa-gear"></i> Trợ giúp</a></li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Đăng Xuất", "UserLogin", "UserLogin")</li>

                    </ul>
                </li>
                <li class="divider-vertical"></li>
                <li>

                    @*Overlay đang phát triên*@

                    <div id="myOverlay" class="overlay">
                        <button class="closebtn" onclick="closeSearch()" title="Close Overlay">Tôi sẽ đợi</button>
                        <div class="overlay-content">
                            <form>
                                <p style="font-size:20px">Tính năng đang trong quá trình phát triên. Hãy quay lại sau !</p>
                            </form>
                        </div>
                    </div>

                    <button class="openBtn" style="margin-top:12px;border-radius:12px" onclick="openSearch()">Mở hộp thoại tìm kiếm</button>


                </li>
            </ul>
        </div>
        </nav>
            -->
    </div>

    <div id="page-wrapper">
        <div class="row">
            <!--
            <div class="row col-md-2">
                <ul id="active" class="nav navbar-nav side-nav">
                    <li><a href="@Url.Action("Index","SinhVien5Tot")"><i class="fas fa-home"></i> Trang Chủ</a></li>
                    <li class="main-menu">
                        <a><i class="fas fa-user-graduate"></i> Sinh Viên 5 Tốt</a>
                        <ul class="sub-menu ">
                            <li><a id="dangky_SV5T" href="@Url.Action("SV5T","SinhVien5Tot")"><i class="fas fa-user-graduate"></i> Đăng ký </a></li>
                            <li><a href="@Url.Action("SV5T","SinhVien5Tot")"><i class="fas fa-user-graduate"></i> Tiến độ </a></li>
                        </ul>
                    </li>
                    <li id="loptruong" class="main-menu">
                        <a><i class="fas fa-school"></i> Lớp Học Tiên Tiến</a>
                        <ul class="sub-menu ">
                            <li><a href="#" id="dangky_LHTT" onclick="dangky_lhtt()"><i class="fas fa-user-graduate"></i> Đăng Ký </a></li>
                            <li><a href="@Url.Action("Index","LopHocTienTien")"><i class="fas fa-user-graduate"></i> Tiến độ </a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("NCKH","NCKH")"><i class="fab fa-searchengin"></i> Nghiên Cứu Khoa Học</a></li>
                    <li><a href="https://www.hutech.edu.vn/phongctsv"><i class="fas fa-info-circle"></i> Tin Tức</a></li>
                    <li><a href="https://www.hutech.edu.vn/phongctsv/van-ban/bieu-mau"><i class="fas fa-question-circle"></i> Hỗ Trợ</a></li>
                    <li style="position: absolute; top:82%">
                        <div class="card-footer">
                            <p class="adminiconp">Bản quyền <a class="adminicon" href="@Url.Action("UserLogin","UserLogin")">©</a> 2018 15DTH11</p>
                        </div>
                    </li>
                </ul>
            </div>
                -->
            <div class="col-md-12 panel">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    function logout() {
        window.location.href = '@Url.Action("UserLogin", "UserLogin")';
    }

    var CustomConfirm = new function () {
        this.show = function (msg, callback) {
            var dlg = document.getElementById('dialogCont');
            var dlgBody = dlg.querySelector('#dlgBody');
            dlg.style.top = '30%';
            dlg.style.opacity = 1;
            dlg.style.background = 'rgba(0,0,0,.8)';
            dlgBody.textContent = msg;
            this.callback = callback;
            document.getElementById('freezeLayer').style.display = '';
        };

        this.okay = function () {
            this.callback();
            this.close();
        };

        this.close = function () {
            var dlg = document.getElementById('dialogCont');
            dlg.style.top = '-30%';
            dlg.style.opacity = 0;
            document.getElementById('freezeLayer').style.display = 'none';
        }
    }
</script>
<script>
    function dangky_lhtt() {
        if (window.confirm("Bạn có muốn đăng ký lớp học tiên tiến không?") == true) {
            window.location.href = '@Url.Action("DangKy", "LopHocTienTien")';
        }
    }
</script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: '/SinhVien5Tot/KiemTra_DKy',
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.success) {
                    if (response.mess == "dadangky_SV5T") {
                        $('#dangky_SV5T').css('display', 'none');
                        document.getElementById("dangky_SV5T").href = '#'
                    }
                    if (response.mess == "dadangky_LHTT") {
                        $('#dangky_LHTT').css('display', 'none');
                        document.getElementById("dangky_LHTT").href = '#'
                    }
                    if (response.lt == "koloptruong") {
                        $('#loptruong').css('display', 'none');
                        document.getElementById("loptruong").href = '#'
                    }
                    if (response.mess == "dadangky_LHTT_SV5T") {
                        $('#dangky_LHTT').css('display', 'none');
                        $('#dangky_SV5T').css('display', 'none');
                        document.getElementById("dangky_LHTT").href = '#'
                        document.getElementById("dangky_SV5T").href = '#'
                    }
                }
            },
            error: function (error) {
                alert("Lỗi!!!" + error);
            }
        })
    })
</script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="~/Scripts/OverlayNatigation.js"></script>
