﻿@model IEnumerable<Edu_Hutech.Models.DSach_TC_Theo_MaPDK_LHTTResult>

@{
    ViewBag.Title = "LHTT_Admin_DanhGia";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Đánh giá Lớp học tiên tiến-Admin</h2>

<table class="table">
    <tr>
        <th>
            Tên Tiêu Chí
        </th>
        <th>
            Minh Chứng
        </th>
        <th>
            Điểm
        </th>
        <th>
            Ghi chú
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>


            @if (item.Diem != 0)
            {
                <td>
                    @item.TenNDTieuChi
                </td>
                <td> <a class="up_minhchung button" href="#" onclick="show_minhchung('@item.Ma_NDTieuChi','@item.DiemTC')" style="color:aqua"> Kiểm tra minh chứng </a></td>
                <td>
                    <p id="@item.Ma_NDTieuChi" style="color:aquamarine">@item.Diem</p>
                </td>
            }
            else
            {
                if (item.TinhTrang == false)
                {
                    <td>
                        @item.TenNDTieuChi
                    </td>
                    <td> <a id="@item.Ma_NDTieuChi" class="up_minhchung button" href="#" style="color:red"> Chưa gửi minh chứng </a></td>
                    <td> 0 </td>
                }
                else
                {
                    <td>
                        @item.TenNDTieuChi
                    </td>
                    <td> <a class="up_minhchung button" href="#" onclick="show_minhchung('@item.Ma_NDTieuChi','@item.DiemTC')" style="color:aqua"> Kiểm tra minh chứng </a></td>
                    <td>
                        <p id="@item.Ma_NDTieuChi" style="color:red"> 0 </p>
                    </td>
                }
            }
            <td>
                <a id="@item.Ma_NDTieuChi@item.Ma_NDTieuChi">@Html.DisplayFor(modelItem => item.GhiChu)</a>
            </td>

        </tr>
    }
</table>
<div class="minhchung_box" id="upminhchung">
    <div _ngcontent-c15="" class="modal-content text-center">
        <div _ngcontent-c15="" class="modal-header">
            <h4 _ngcontent-c15="" class="modal-title">Quản lý minh chứng</h4>
            <button _ngcontent-c15="" aria-label="Close" class="close">
                <span _ngcontent-c15="" aria-hidden="true">×</span>
            </button>
        </div>
        <div _ngcontent-c15="" class="modal-body">
            <my-image-upload _ngcontent-c15="" _nghost-c16="" ng-reflect-is-mine="true">
                <input _ngcontent-c16="" class="form-control ng-star-inserted" id="files" name="files" ng2fileselect="" type="file" ng-reflect-uploader="[object Object]" hidden="">
                <loader _ngcontent-c16="" ng-reflect-is-running="false">
                    <sk-chasing-dots _nghost-c7="" ng-reflect-delay="0" ng-reflect-color="red" ng-reflect-is-running="false">
                        <div _ngcontent-c7="" class="chasing-dots-spinner" ng-reflect-ng-class="chasing-dots-spinner" hidden="">
                            <div _ngcontent-c7="" class="dot1 ng-star-inserted" ng-reflect-ng-class="dot1" style="background-color: red;"></div>
                            <div _ngcontent-c7="" class="dot2 ng-star-inserted" ng-reflect-ng-class="dot2" style="background-color: red;"></div>
                        </div>
                    </sk-chasing-dots>
                </loader>
                <div _ngcontent-c16="" style="padding-left: 90px;">
                    <div _ngcontent-c16="" class="picture-group" ng-reflect-klass="picture-group" ng-reflect-ng-class="[object Object]">
                        <div _ngcontent-c16="" class="picture-wrapper">
                            <a id="hien_anh_minhchung" class="example-image-link" data-lightbox="example-1">
                                <img _ngcontent-c16="" id="anh_minhchung" class="ng-star-inserted">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <label> Ghi chú: </label>
                    <input id="ghichu" style="margin-left:10px" />
                    <br />
                    <a _ngcontent-c16="" id="minhchung_dat" class="change-picture ng-star-inserted" href="#">Đạt</a>
                    <br />
                    <a _ngcontent-c16="" id="minhchung_chuadat" class="change-picture ng-star-inserted" href="#">Chưa Đạt</a>
                </div>
            </my-image-upload>
        </div>
    </div>
</div>
<script>
    function show_minhchung(maND, diem) {
        var mssv = parseFloat(JSON.parse(localStorage.getItem("MSSV")));
        var fromdata = new FormData();
        fromdata.append("maND_TC", maND);
        fromdata.append("maSSV", mssv);
        $.ajax({
            type: "POST",
            url: '/Upload/show_minhchung',
            data: fromdata,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.success) {
                    $('#anh_minhchung').attr("src", response.url_img);
                    $('#ghichu').val($('#' + maND + maND).text());
                }
            },
            error: function (error) {
                alert("Lỗi!!!" + error);
            }
        });
        $('#minhchung_dat').attr("onclick", "minhchung_dat('" + maND + "', '" + diem + "')");
        $('#minhchung_chuadat').attr("onclick", "minhchung_chuadat('" + maND + "')");
        $('#upminhchung').fadeIn(300);
        // khi click đóng hộp thoại
        $(document).on('click', "button.close, #over", function () {
            $('#over, .minhchung_box').fadeOut(300, function () {
                $('#over').remove();
            });
            return false;
        });
    }
</script>
<script src="http://static.tumblr.com/xz44nnc/o5lkyivqw/jquery-1.3.2.min.js"></script>
<script>
    $('#anh_minhchung').css({ cursor: 'pointer' }).live('click', function () {
        var img = $(this);
        var bigImg = $('<img />').css({
            'max-width': '100%',
            'max-height': '100%',
            'display': 'inline'
        });
        bigImg.attr({
            src: img.attr('src'),
            alt: img.attr('alt'),
            title: img.attr('title')
        });
        var over = $('<div />').text(' ').css({
            'height': '100%',
            'width': '100%',
            'background': 'rgba(0,0,0,.82)',
            'position': 'fixed',
            'top': 0,
            'left': 0,
            'opacity': 0.0,
            'cursor': 'pointer',
            'z-index': 9999,
            'text-align': 'center'
        }).append(bigImg).bind('click', function () {
            $(this).fadeOut(300, function () {
                $(this).remove();
            });
        }).insertAfter(this).animate({
            'opacity': 1
        }, 300);
    });
</script>
<script>
    function minhchung_dat(maND, diem) {
        var ghichu = $('#ghichu').val();
        var from_data = new FormData();
        from_data.append("maND_TC", maND);
        from_data.append("ghichu", ghichu);
        $.ajax({
            type: "POST",
            url: '/SV5T_Khoa_Phong/tieuchi_dat_LHTT',
            data: from_data,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.success) {
                    $('#over, .minhchung_box').fadeOut(300, function () {
                        $('#over').remove();
                    });
                    document.getElementById(maND).innerHTML = diem;
                    document.getElementById(maND).setAttribute('style', 'color:aquamarine');
                    document.getElementById(maND + maND).innerHTML = ghichu;
                    $('#ghichu').val('');
                }
                else {
                    alert(response.mess);
                }
            },
            error: function (error) {
                alert("Lỗi!!!" + error);
            }
        })
    }

    function minhchung_chuadat(maND, diem) {
        var ghichu = $('#ghichu').val();
        var from_data = new FormData();
        from_data.append("maND_TC", maND);
        from_data.append("ghichu", ghichu);
        $.ajax({
            type: "POST",
            url: '/SV5T_Khoa_Phong/tieuchi_chuadat_LHTT',
            data: from_data,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.success) {
                    $('#over, .minhchung_box').fadeOut(300, function () {
                        $('#over').remove();
                    });
                    document.getElementById(maND).innerHTML = 0;
                    document.getElementById(maND).setAttribute('style', 'color:red');
                    document.getElementById(maND + maND).innerHTML = ghichu;
                    $('#ghichu').val('');
                }
                else {
                    alert(response.mess);
                }
            },
            error: function (error) {
                alert("Lỗi!!!" + error);
            }
        })
    }
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link href="~/Content/css/upminhchung.css" rel="stylesheet" />
