﻿
.text-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
span {
    display: block;
}
.text1{
    color:white;
    font-size:60px;
    font-weight:700;
    letter-spacing:8px;
    margin-bottom:20px;
    background-color:black;
    position:relative;
    animation:text 3s 1;

}
.text2{
    font-size:30px;
    color:#6ab04c;

}
@keyframes text{
    0%{
        color:black;
        margin-bottom:-40px;
    }
    30%{
        letter-spacing:25px;
        margin-bottom:-40px;
    }
    85%{
        letter-spacing:8px;
        margin-bottom:-40px;
    }
}