* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('../images/architecture-attractive-background-988873.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'PT Sans', sans-serif;
    color: white;
}
.logo-hutech{
    background-color:transparent;
    margin-top:.5rem;
}
.label {
    font-size: 19px;
    font-weight: normal;
    color:black;
}
.username-login,
.username-pass {
    background-color: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #f44c89;
    margin-bottom: 30px;
    font-size: 22px;
    padding: 1rem;
    color:black;
}

    .username-login:focus,
    .username-pass:focus {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        border: 1px solid #DDDDDD;
        opacity: 0.8;
        color: red;
    }

   .btnlogin{
       width:100%;
   }
.footer-login{
    
    padding-top:4rem;
   
}