﻿.dlg-container {

    position: absolute;
    left: 50%;
    top: -30%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    text-align: center;
    background: #fff;
    padding: 10px;
    border: 2px solid #ddd;
    box-shadow: 1px 1px 5px 1px #ccc;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s linear 0s;
    color: black;
    z-index: 2;
    
}
.dlg-header {
    padding: 10px;
    background-color: transparent;
    color: #f6f7f8;
    font-family: Arial;
    letter-spacing: -1px;
    font-size: 24px;
    font-weight: 300;
}
.dlg-body {
    padding: 10px;
    line-height: 30px;
    font-family: Arial;
    color:#fff;
}
.dlg-footer {
    text-align: center;
    background-color: transparent;
    padding: 3px 0px;
    font-family: Arial;
}
.dlg-footer button{
    background-color:transparent;
    cursor:pointer;
}
.dlg-footer button:active{
    box-shadow:inset 2px 2px 4px 0 #ccc;
    color:#666;
}
.freeze-layer{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:1;
}
.txt-color-orangeDark {
    color: darkorange;
    letter-spacing: -1px;
    font-size: 24px;
    font-weight: 300;
    
}