﻿form {
    color: black;
    animation: fly 1500ms ease;
    /*text-align:center;*/
}

    form input {
        /*margin-left: 10px;
        text-align: center;
        border-radius: 10px;*/
        border: none;
        background-color: rgba(0,0,0, 0.18);
        font-size: 18px;
    }

    form label {
        /*margin-left: 20px;
        margin-bottom: 1%;*/
        font-size: 15px;
        font-size: 18px;
    }

select {
    font-size: 18px;
    border: none;
    background-color: rgba(0,0,0, 0.18);
    color: black;
    padding: 1rem;
}
.title-nckh {
    background: #fffc00; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #fffc00); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #fffc00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0.5rem 1rem;
}
h5 {
    margin-bottom: 25px;
    font-weight:bold;
    font-size:18px;
}

.select-tep {
    padding: 2rem 1rem;
    background-color: black;
    color: yellow;
    border-radius: 20px;
    transition: 200ms;
}

    .select-tep:hover {
        color: blueviolet;
        text-decoration: none;
        cursor: pointer;
        background-color: darkred;
    }

.login {
    margin-top: 5px;
    padding: 2rem 4rem;
    background-image: linear-gradient(to top, #a18cd1 0%, #c2fbfb 100%);
    border-radius: 20px;
    border: none;
}
button:focus{
    outline:none;
}

.reset {
    padding: 2rem 2rem;
    background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
    border-radius: 50%;
    border: none;

}
    button:hover {
        background-color: red;
    }
#cb_sv2, #cb_sv3, #cb_sv4, #cb_sv5 {
    -webkit-appearance: none;
    -moz-appearance: none;
    /*appearance:none;*/
    /*appearance : đưa thuộc tính của checkbox về dạng rỗng để cấu hình css cho nó */
    width: 72px;
    height: 36px;
    background-color: #c6c6c6;
    border-radius: 40px;
    border: 1px solid grey;
    outline: none;
    position: relative;
    top: 1.5rem;
    margin-left: 10px
}
    #cb_sv2:checked,
    #cb_sv3:checked,
    #cb_sv4:checked,
    #cb_sv5:checked {
        background-color: mediumseagreen;
        border: 1px solid mediumseagreen;
    }
    #cb_sv2:before,
    #cb_sv3:before,
    #cb_sv4:before,
    #cb_sv5:before {
        content: '';
        position: absolute;
        width: 34px;
        height: 34px;
        background-color: white;
        top: 0;
        left: 0;
        border-radius: 40px;
        transition: 200ms;
    }
    #cb_sv2:checked:before,
    #cb_sv3:checked:before,
    #cb_sv4:checked:before,
    #cb_sv5:checked:before{
        left: 36px;
    }
@media (max-width: 992px) {
    form{
        text-align:center;
    }
}