﻿/* The overlay effect with black background */
.overlay {
    height: 46%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
    
}

/* The content */
.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

/* Close button */
.overlay .closebtn {
    float: right;
    margin-right: 29px;
    margin-top: 10%;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    cursor: pointer;
    font-family: inherit;
}


    .overlay .closebtn:hover {
        color: #ccc;
    }
.overlay .openBtn {
    float: right;
    margin-right: 29px;
    margin-top: 10%;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
}
/* Style the search field */
.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}

    .overlay input[type=text]:hover {
        background: #f1f1f1;
    }

/* Style the submit button */
.overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.overlay button:hover {
        background: #bbb;
}

