
.BGtest {
    background-color: white;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
}

.text-container h1 {
    font-size: 80px;
    font-family: verdena;
    color: black;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite;
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes animate {
    0% {
        background-position: left 0px top 10px;
    }

    40% {
        background-position: left 800px top 10px;
    }
}

.text-container {
    margin-top: 5%;
    text-align: center;
}

.btnCap {
    position: relative;
    border-radius: 100%;
    width: 21%;
    height: 200px;
    border: 4px solid;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(199, 21, 133, 0, 7);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 3);
    transition: 1s;
    margin-left: 30px;
    opacity: 0.5;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: white;
}

@keyframes pulse {
    100% {
        box-shadow: 0 0 0 200px rgba(119, 21, 133, 0);
    }
}

.text-button-cap {
    font-size: 15px;
    font-family: verdana;
}

.btnCap:hover {
    animation: none;
    color: #fff;
    transition: 1s;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    color: black;
    animation: fly 1500ms ease;
}

th, td {
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    margin-left: 62px;
}

@keyframes fly {
    from {
        opacity: 0;
        margin-left: -200px
    }

    to {
        opacity: 1
    }
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid gray;
    background-color: white;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

@media (min-width: 600px) {
    .btnCap {
        width: 100%;
        margin: 10px;
    }
}

@media (min-width: 768px) {
    .btnCap {
        width: 35%;
        margin: 10px;
    }
}
}
