﻿@model IEnumerable<Edu_Hutech.Models.GetTieuChiLHTT_TheoPDKResult>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<input type="file" name="file" accept="image/*" id="file_up" style="display:none" />

<p>@ViewBag.ThongBaoCV </p>

@if (Model.Count() == 0)
{
    <h2 style="color:red">@ViewBag.ThongBao </h2>
}
else
{
    <h2>Tiến độ hoàn thành Lớp học tiên tiến</h2>
    <table class="table">
        
            <tr>
                <th>
                    Mã Tiêu Chí
                </th>
                <th>
                    Nội Dung Tiêu Chí
                </th>
                <th>
                    Điểm
                </th>
                <th>
                    Minh Chứng
                </th>
                <th></th>

            </tr>
            
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaTieuChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenNDTieuChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Diem)
                    </td>
                    @if (item.TinhTrang == false)
                    {
                        <td> <a id="@item.Ma_NDTieuChi" class="up_minhchung button" href="#" onclick="box_upminhchung('@item.Ma_NDTieuChi','@item.MSSV')" style="color:red">Chưa nộp minh chứng</a></td>
                    }
                    else if (item.TinhTrang == true)
                    {
                        <td id="minhchung"> <a class="up_minhchung button" href="#" onclick="show_minhchung('@item.Ma_NDTieuChi','@item.MSSV')" style="color:#0058ff">Đã hoàn thành minh chứng</a></td>
                    }
                    else
                    {
                        <td id="minhchung"> <a class="up_minhchung button" href="#" onclick="show_minhchung('@item.Ma_NDTieuChi','@item.MSSV')" style="color:darkorange">Chưa hoàn thành minh chứng</a></td>
                    }
                </tr>
            }

    </table>
}
<div class="minhchung_box" id="upminhchung">
    <div _ngcontent-c15="" class="modal-content text-center">
        <div _ngcontent-c15="" class="modal-header">
            <h4 _ngcontent-c15="" class="modal-title">Quản lý minh chứng</h4>
            <button _ngcontent-c15="" aria-label="Close" class="close">
                <span _ngcontent-c15="" aria-hidden="true">×</span>
            </button>
        </div>
        <div _ngcontent-c15="" class="modal-body">
            <my-image-upload _ngcontent-c15="" _nghost-c16="" ng-reflect-is-mine="true">
                <input _ngcontent-c16="" class="form-control ng-star-inserted" id="files" name="files" ng2fileselect="" type="file" ng-reflect-uploader="[object Object]" hidden="">

                <span _ngcontent-c16="">File &lt; 3MB</span>
                <loader _ngcontent-c16="" ng-reflect-is-running="false">
                    <sk-chasing-dots _nghost-c7="" ng-reflect-delay="0" ng-reflect-color="red" ng-reflect-is-running="false">
                        <div _ngcontent-c7="" class="chasing-dots-spinner" ng-reflect-ng-class="chasing-dots-spinner" hidden="">
                            <div _ngcontent-c7="" class="dot1 ng-star-inserted" ng-reflect-ng-class="dot1" style="background-color: red;"></div>
                            <div _ngcontent-c7="" class="dot2 ng-star-inserted" ng-reflect-ng-class="dot2" style="background-color: red;"></div>
                        </div>
                    </sk-chasing-dots>
                </loader>
                <div _ngcontent-c16="" style="padding-left: 90px;">
                    <div _ngcontent-c16="" class="picture-group" ng-reflect-klass="picture-group" ng-reflect-ng-class="[object Object]">
                        <div _ngcontent-c16="" class="picture-wrapper">
                            <img _ngcontent-c16="" id="anh_minhchung" class="ng-star-inserted">
                        </div>
                        <a _ngcontent-c16="" id="thaydoi_minhchung" class="change-picture ng-star-inserted" href="#">Thay đổi minh chứng</a>
                    </div>
                </div>
            </my-image-upload>
        </div>
    </div>
</div>

<script>
    function box_upminhchung(maND, mssv) {
        //cho hiện hộp đăng nhập trong 300ms
        $('#anh_minhchung').attr('src', "/");
        $('#upminhchung').fadeIn(300);
        let data_ = "'" + maND + "','" + mssv + "'";
        $('#thaydoi_minhchung').attr("onclick", "upload(" + data_ + ")");
        // thêm phần tử id="over" vào sau body
        $('body').append('<div id="over">');
        $('#over').fadeIn(300);
        return false;
    }
    // khi click đóng hộp thoại
    $(document).on('click', "button.close, #over", function () {
        $('#over, .minhchung_box').fadeOut(300, function () {
            
            $('#over').remove();
            
        });
        return false;
    });
</script>
<script>
    function upload(maND, mssv) {
        $('#file_up').trigger('click');
        $('#file_up').change(function () {
            let data_ = "'" + maND + "','" + mssv + "'"; // để truyền vào onclick
            let formData_1 = new FormData();
            let file = document.getElementById("file_up").files[0]; // lấy ảnh từ input type="file"
            if (file == null) {
                alert("Chọn hình ảnh thất bại!");
                clearFileInput("file_up");
                $('#file_up').trigger('click');
            }
            else {
                formData_1.append("file_up", file);
                formData_1.append("name_file", maND);
                $.ajax({
                    type: "POST",
                    url: '/Upload/upLoadfile_lhtt',
                    data: formData_1,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.success) {
                            $('#anh_minhchung').attr("src", response.url_img + "?" + new Date().getTime());
                            $("#file_up").replaceWith("<input type='file' accept='image/*' id='file_up' style='display:none' />");
                            $('#' + maND).css('color', 'darkorange');
                            var daunhay = "'";
                            $('#' + maND).attr("onclick", "show_minhchung(" + data_ + ")");
                            Swal.fire({
                                position: 'top-end',
                                width: 400,
                                height:400,
                                type: 'success',
                                title: 'Thành công!',
                                showConfirmButton: false,
                                timer: 3000
                            })
                        }
                        else {
                            alert(response.responseText);
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            position: 'top-end',
                            type: 'error',
                            title: 'Vui lòng chọn file hình ảnh!',
                            showConfirmButton: false,
                            timer: 3000
                        })
                    }
                });
            }
        });
    };
</script>
<script>
    function show_minhchung(maND, mssv) {
        var fromdata = new FormData();
        fromdata.append("maND_TC", maND);
        fromdata.append("maSSV", mssv);
        $.ajax({
            type: "POST",
            url: '/Upload/show_minhchung',
            data: fromdata,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.success) {

                    $('#anh_minhchung').attr("src", response.url_img);
                }
            },
            error: function (error) {
                alert("Lỗi!!!" + error);
            }
        });
        $('#upminhchung').fadeIn(300);
        $('#thaydoi_minhchung').attr("onclick", "upload('" + maND + "')");
        $('#anh_minhchung').attr("src", "/")
        // khi click đóng hộp thoại
        $(document).on('click', "button.close, #over", function () {
            $('#over, .minhchung_box').fadeOut(300, function () {
                $('#over').remove();
            });
            return false;
        });
    }
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link href="~/Content/css/upminhchung.css" rel="stylesheet" />