﻿@{
    ViewBag.Title = "Đăng nhập";
}
<link href="~/Content/css/login.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img class=" img-thumbnail img-fluid logo-hutech" src="http://erp1.hutech.edu.vn/assets/png/logo.png" />
            </div>
            <div class="col-md-8" style="padding:1rem;margin-top:7%;box-shadow:-1px 1px 20px 10px black;">
                <div class="row">
                    <div class="col-md-6">
                        <h3 style=" color:black; text-align:center">Đăng nhập</h3>
                        <h5 style="color: red; text-align:center; padding-top:5px"> @ViewBag.Thongbao </h5>
                        <form>
                            <label class="label control-label" for="username">Tài khoản:</label>
                            <input class="form-control username-login" name="TaiKhoan" type="text" id="username" maxlength="10" placeholder="Mã số sinh viên" required oninvalid="this.setCustomValidity('Hãy nhập tài khoản !')" oninput="setCustomValidity('')">
                            <label class="label control-label" for="password">Mật khẩu:</label>
                            <input class="form-control username-pass" name="MatKhau" maxlength="20" type="password" id="password" placeholder="Mật khẩu" required oninvalid="this.setCustomValidity('Hãy nhập mật khẩu !!')" oninput="setCustomValidity('')">
                            <button type="submit" class="btn btn-outline-dark btnlogin"> Đăng nhập </button>
                            <div class="row" style="margin-top:10%;">
                                <div class="col-xs-6">
                                    <a href="https://play.google.com/store/apps/details?id=hutech.edu.vn714799&hl=vi" target="_blank">
                                        <img class="img-responsive img-fluid img-thumbnail" style="width:189.5px; height:5rem;" src="~/Content/images/android.png" />
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="https://itunes.apple.com/us/app/e-hutech/id1237567424?ls=1&mt=8" target="_blank">
                                        <img class="img-responsive img-fluid img-thumbnail" style="width:189.5px; height:5rem;" src="~/Content/images/ios.png" />
                                    </a>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                    <div class="col-md-6">
                        <img class="img-responsive img-fluid img-thumbnail" src="~/Content/images/Bang-tieu-chi-danh-gia-CT-lop-hoc-tien-tien-2015--2016.png" />
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>





}